@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500&display=swap');

:root{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
html,body{
    margin: auto;
    text-align: center;
    font-family: "Karla";
    background-color: black;
    color: white;
}
h3{
    font-size: 4rem;
}
#randomPass{
    color: #4ADF86;
    margin-top: -3.4rem;
}
main{
    width: 60%;
    background-color: #1F2937;
    text-align: left;
    padding: 3rem;
    margin: auto;
    height: 40rem;
}
p{
    font-size: 1.4rem;
    color: medium grey;
    margin-top: -3rem;
}
button{
    height: 4rem;
    width: 20rem;
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    margin-top: 3rem;
    font-family: 'Karla';
    cursor: pointer;
}
button:hover{
    background-color: beige;
    color: black;
}
svg{
    background-color: none;
    color: white;
    height: 1.4rem;
    margin-left: 0rem;
    margin-right: 1.3rem;
}
#passwords{
    height: 5rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}
#firstTwo > p, #secondTwo > p{
    height: 2.5rem;
    width: 25rem;
    padding: 2rem;
    background-color: #000307;
    border: none;
    border-radius: 10px;
    margin-right: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.7rem;
    border: none;
}
#firstTwo{
    display: flex;
}
#secondTwo{
    display: flex;
    margin-top: 2rem;
}
#firstTwo > p:hover, #secondTwo > p:hover{
    background-color: beige;
    color: #000307;
}
@media screen and (min-width: 800px) {
    main{
        max-width: 800px;
    }
}
